
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    background-color: $grayish-blue;
    border-radius: 15px;
    text-align: center;
    padding: 4rem 0 6rem 0;
    position: relative;

    .card__title {
        font-size: .8rem;
        color: $neon-green;
        text-transform: uppercase;
        //padding: 2rem;
        letter-spacing: .3rem;
    }

    .card__content {
        padding: 2rem;
        font-size: 1.5rem;
    }
    
    .card__btn {
        width: 60px;
        height: 60px;
        position: absolute;
        background-color: $neon-green;
        padding: 1.1rem;
        border-radius: 50%;
        bottom: -30px;
        
    }
    
    .card__btn img {
        width: 100%;
        height: 100%;
    }

    .card__btn:hover{
        color: #53FFAB;
        cursor: pointer;
        box-shadow: 0 0 40px $neon-green;
    }
    
}

@media(max-width: 768px){
    .card__title {
        font-size: .5rem;
    }

    .card__content {
        padding: .1rem;
        font-size: 0.5rem;
    }
    
    .card {
        width: 90%;
    }

    .card__desk {
        display: none;
    }
}

@media(min-width: 768px) {
    .card__mob {
        display: none;
      }
}