
.card {
    width: 40%;
    background-color: $grayish-blue;
    border-radius: 15px;
    text-align: center;
    padding: 4rem 0 6rem 0;
    position: relative;

    .card__title {
        font-size: .8rem;
        color: $neon-green;
        text-transform: uppercase;
        //padding: 2rem;
        letter-spacing: .3rem;
    }

    .card__content {
        padding: 2rem;
        font-size: 1.5rem;
    }
    .card__desk {
        display: none;
    }

    .card__mob {
        //padding: 0 0 2rem 0;
    }

    .card__btn {
        position: absolute;
        background-color: $neon-green;
        padding: 1rem;
        border-radius: 50%;
        bottom: 0;
        
    }
    
}